.secondaryBtn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
}

.heartIcon * {
    color: red;
    fill: red;
    background-color: red;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

.post{
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;

}

.post:hover {
    background-color: #f9f9f9;
}

h2 {
    margin: 0;
}